{% extends 'bootstrap/base.html' %}
{% block title %}
SqualkSqualk Mobile
{% endblock %}
{% block content %}
<style>
h1 {
  font-family: "Arial Rounded MT Bold";
  background: -webkit-linear-gradient(110deg, #005cf0, #bc00f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
}
</style>
<body class="row">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h1>SqualkSqualk</h1>
			<hr>
			{% block app_content %}{% endblock %}
		</div>
	</div>
</body>
{% endblock %}
