{% extends "base.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>
Welcome {{ username }}!
</h2>
<br>
<div>
	<h3>
		Add comment to log
	</h3>
	<div class="card">
		{{ wtf.quick_form(adminForm, method="POST", action="./add_comment") }}
	</div>
	{% if command_output %}
	<br><br>
	<div style="white-space: pre-wrap;">
{{ command_output }}
	</div>
	{% endif %}
</div>
<br><hr><br>
<div>
	<h3>
		View Log Files
	</h3>
	<div class="card">
		{{ wtf.quick_form(logHistory, method="GET", action="./get_file") }}
	</div>
	<br>
	<div class="card">
		{{ wtf.quick_form(logCalls, method="GET", action="./get_file") }}
	</div>
	<br>
	<div class="card">
		{{ wtf.quick_form(logAdmin, method="GET", action="./get_file") }}
	</div>
	{% if file_data %}
		<br><br>
		<div style="white-space: pre-wrap;">
{{ file_data }}
		</div>
	{% endif %}
</div>
{% endblock %}
