{% extends "base.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>
SQL Tutorial
</h2>
<br>
<p>
Table 'Animals' contains entries of the format [Name, Legs, Class]
</p>
<ul>
<li>SELECT * FROM Animals</li>
<li>SELECT Name FROM Animals WHERE legs='2'</li>
<li>SELECT * FROM Animals WHERE class='Reptile'--surprised?</li>
<li>SELECT Name, Legs FROM Animals WHERE legs &gt 4</li>
<li>SELECT Name, Legs FROM Animals WHERE legs &lt 4 AND class='Mammal'</li>
<li>SELECT * FROM Animals WHERE '1'='1'</li>
</ul>
<br>
<div>
	<div>
		{{ wtf.quick_form(sqlForm, method="POST", action="./execute_sql") }}
	</div>
	{% if sql_output %}
	<br><br>
	<div style="white-space: pre-wrap;">
{{ sql_output }}
	</div>
	{% endif %}
</div>
{% endblock %}
